$primary: #007bc3;
$secondary: #45d1c9;

$white: #ffff;
$black: black;

$text-black: #333333;

$gray-gray02: #999999;

$gray-gray03: #dcdcdc;

$gray-gray04: #f8f8f8;

$mobile-width: 600px;
$tablet-width: 1024px;
